<?xml version="1.0" encoding="utf-8"?>
<!---this should fix the warning about package not being declared but check that its ok!-->
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.117.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.117.0" targetFramework="net472" />
</packages>